/*assgn01-gfr-09391.html
assgn01-gfr-09391.css*/

div{
    border: 3px;
    border-style: dotted;
    border-color: red;
    float: left;
    padding: 1%;
    box-sizing: border-box;
    margin: 3%;
    /* This new css k/v */
}